{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <!--Navigate-->
    <div class="navigate">
      <span><a href="#">My Board - Boards</a> >> <a href="#">Esam Topic</a></span>
    </div>
    <div class="post-table">
      <div class="table-head">
        <div class="status">
          Sats
        </div>
        <div class="subject">
          Subj
        </div>
        <div class="replies">
          Reply
        </div>
        <div class="last-reply">
          Lst Reply
        </div>
      </div>
      <div class="table-row">
        <div class="status">
          <i>What</i>
        </div>
        <div class="subject">
          <a href="#">Is fucking worth?</a>
          <br>
          <span>Started by <b><a href="#">Boarder</a></b></span>
        </div>
        <div class="replies">
          2 replies <br>125 viwes
        </div>
        <div class="last-reply">
          Dec 31, 2069
          <br>
          By <b><a href="#">Esam</a></b>
        </div>
      </div>
    </div>
    <!--Pagination-->
    <div class="pagination">
      pages: <a href="#">1</a><a href="#">2</a><a href="#">3</a>
    </div>
  </div>
{% endblock content %}