{% extends 'base.html' %}

{% block content %}

  <div class="container">
    <div class="subboard">
      <div class="subboard-title">
        <h1>Fuck you</h1>
      </div>

      {% for board in boards %}
      <div class="subboard-row">
        <div class="subboard-icon subboard-column center">
          <i class="squid">a</i>
        </div>
        <div class="subboard-description subboard-column">
          <h1><a href="{{board.get_url}}">{{board.title}}</a></h1>
          <p>{{board.description}}</p>
        </div>
        <div class="subboard-status subboard-column center">
          <span>{{board.num_posts}} bozds</span>
        </div>
        <div class="subboard-info subboard-column">
          <b><a href="{{board.last_post.get_url}}">{{board.last_post.title}}</a></b> by <b><a href="cuc">{{board.last_post.user.fullname|title}}</a></b>
          <br>
          on <small>{{board.last_post.date|date}}</small>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

{% endblock content %}