{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}
  <div class="container">
    <!--Navigate-->
    <div class="navigate">
      <span><a href="#">My Board - Boards</a> >> <a href="#">Esam Topic</a> >> <a href="{{post.get_url}}">{{post.title}}</a></span>
    </div>
    <div class="topic-container">
      <div class="head">
        <div class="author">
          Author
        </div>
        <div class="content">
          Topic: {{post.title}} (Viewed {% get_hit_count for post %} times)
        </div>
      </div>
      <div class="body">
        <div class="author">
          <div class="username"><a href="#">{{post.user.fullname|title}}</a></div>
          <div> ??? </div>
          <img src="{{post.user.profile_pic.url}}">
          <div>Stats: <u>6xx9</u></div>
        </div>
        <div class="content">
          {{post.content|safe}}
          <br><br>
          <hr>
          <div class="comment">
            <button onclick="showCommentBox()">Comment</button>
          </div>
        </div>
      </div>
    </div>

    <!--Comment Input-->
    <div class="comment-area hide" id="comment-area">
      <textarea name="comment" id="" placeholder="comment"></textarea>
      <input type="submit" name="" id="" value="comment">
    </div>

    <!--Show Reply-->
    <div class="reply-container">
      <div class="head">
        <div class="author">
          Author
        </div>
        <div class="content">
          Topic: title (Viewed xxx times)
        </div>
      </div>
      <div class="body">
        <div class="author">
          <div class="authorusername"><a href="#">Name</a></div>
          <div> ??? </div>
          <img src="IMG_4143.PNG">
          <div>Stats: <u>6xx9</u></div>
        </div>
        <div class="content">
          You and all your friends yeah they love to get naughty
          <br><br>
          <hr>
          <div class="reply">
            <button onclick="showReplyBox()">Reply</button>
          </div>
        </div>
      </div>
    </div>

    <!--Reply Input-->
    <div class="reply-area hide" id="reply-area">
      <textarea name="reply" id="" placeholder="reply"></textarea>
      <input type="submit" name="" id="" value="reply">
    </div>
  </div>
{% endblock content %}