{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}
  <div class="container">
    <!--Navigate-->
    <div class="navigate">
      <span><a href="{% url 'home' %}">My Board - Boards</a> >> <a href="{{post.categories.all.0.get_url}}">{{post.categories.all.0}}</a> >> <a href="{{post.get_url}}">{{post.title}}</a></span>
    </div>
    <div class="topic-container">
      <div class="head">
        <div class="author">
          Author
        </div>
        <div class="content">
          Topic: {{post.title}} (Viewed {% get_hit_count for post %} times)
        </div>
      </div>
      <div class="body">
        <div class="author">
          <div class="username"><a href="#">{{post.user.fullname|title}}</a></div>
          <div> ??? </div>
          <img src="{{post.user.profile_pic.url}}">
          <div>Posts: <u>{{reply.user.num_posts}}</u></div>
          <div>Stats: <u>{{post.user.points}}</u></div>
        </div>
        <div class="content">
          {{post.content|safe}}
          <br><br>
          <hr>
          <div class="comment">
            <button onclick="showCommentBox()">Comment</button>
          </div>
        </div>
      </div>
    </div>

    <!--Comment Input-->
    <form action="." method='post'>
      {% csrf_token %}
      <div class="comment-area hide" id="comment-area">
        <textarea name="comment" placeholder="comment"></textarea>
        <input type="submit" name="comment-form" value="comment">
      </div>
    </form>
    <!--Show Comment-->
    {% for comment in post.comments.all %}
      <div class="reply-container">
        <div class="body">
          <div class="author">
            <div class="authorusername"><a href="#">{{comment.user.fullname|title}}</a></div>
            <div> ??? </div>
            <img src="{{comment.user.profile_pic.url}}">
            <div>Posts: <u>{{comment.user.num_posts}}</u></div>
            <div>Stats: <u>{{comment.user.points}}</u></div>
          </div>
          <div class="content">
            {{comment.content}}
            <br><br>
            <hr>
            <div class="reply">
              <button onclick="showReplyBox('{{comment.id}}')">Reply</button>
            </div>
          </div>
        </div>
      </div>
      <!--Reply Input-->
      <form action='.' method='post'>
      {% csrf_token %}
        <div class="reply-area hide" id="{{comment.id}}">
          <textarea name="reply" placeholder="reply"></textarea>
          <input type="submit" name="reply-form" value="reply">
          <input type="hidden" name="comment_id" value="{{comment.id}}">
        </div>
      </form>
      <!--Show Reply-->
      {% for reply in comment.replies.all %}
      <div class="reply-container" style="width: 95%; margin-left:5%">
        <div class="body">
          <div class="author">
            <div class="authorusername"><a href="#">{{reply.user.fullname|title}}</a></div>
            <div> ??? </div>
            <img src="{{reply.user.profile_pic.url}}">
            <div>Posts: <u>{{reply.user.num_posts}}</u></div>
            <div>Stats: <u>{{reply.user.points}}</u></div>
          </div>
          <div class="content">
            {{reply.content}}
            <br>
          </div>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endblock content %}